    <div id="comments_aspect_config_form" class="aspect_config_form">
        <div id="workflow">
           <div class="formrow">
              <label for="aspect_attributes[publishing_workflow_id]" class="fieldtitle"><%=t.content_type_management.form.workflow.label%></label>
              <select name="aspect_attributes[publishing_workflow_id]" id="aspect_attributes[publishing_workflow_id]" class="fieldcontrol"/>
           </div>
           <div class="formrow">
              <label class="fieldtitle">Groups</label>
              <div id="user_groups">
              </div>
              <div class="fielddescription">The user groups which can create comments.</div>
            </div>           
        </div>
    </div>