    <div class="comments_config_template">
        <div id="workflow">
           <div class="formrow">
              <label for="aspect_attributes[publishing_workflow]" class="fieldtitle"><%=t.content_type_management.form.workflow.label%></label>
              <select name="aspect_attributes[publishing_workflow]" id="aspect_attributes[publishing_workflow]" class="fieldcontrol" style="max-width:95%"/>
           </div>
           <div class="formrow">
              <label class="fieldtitle">Groups</label>
              <div id="user_groups">
              </div>
              <div class="fielddescription">The user groups which can create comments.</div>
            </div>           
        </div>
    </div>