    <div id="content_place_aspect_config_form" class="aspect_config_form">
        <div id="workflow">
           <div class="formrow">
              <label for="aspect_attributes[type]" class="fieldtitle"><%=t.content_place.config_form.type.label%></label>
              <select name="aspect_attributes[type]" id="aspect_attributes[type]" class="fieldcontrol" style="max-width:95%"/>
            </div>           
        </div>
    </div>