    <div class="comments_config_template">
        <div id="workflow">
           <div class="formrow">
              <label for="aspect_attributes[type]" class="fieldtitle"><%=t.content_place.config_form.type.label%></label>
              <select name="aspect_attributes[type]" id="aspect_attributes[type]" class="fieldcontrol" style="max-width:95%"/>
            </div>           
        </div>
    </div>