<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">

  <p>Todos los contenidos que existen en un sitio son de uno de los tipos definidos a continuación. El <em>tipo de contenido</em> le permite configurar el comportamiento del contenido como por ejemplo si acepta comentarios o la información que contiene, o los vocabularios cuyos términos pueden pueden utilizarse para etiquetarlo.</p>

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:20%">Id</th>
         <th class="table-header-title" scope="col" style="width:30%">Name</th>
         <th class="table-header-title" scope="col" style="width:50%">Description</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
      <td class="table-cell"><%%= entity.name %></td>
      <td class="table-cell"><%%= entity.description %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel">Id</div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.id %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Name</div> <div class="entity-fieldvalue"><%%= entity.name %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Description</div> <div class="entity-fieldvalue"><%%= entity.description %></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Aspects</div> <div class="entity-fieldvalue"><%%= self.model.entityHooks[0].formatAspects(entity) %></div></div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="top-navigation-bar navigation-bar">
             <h2 class="form-title">Content type</h2>
             <div class="navigation-bar-nav-buttons">
             </div>
        </div>        

        <div class="form-fields">
        
          <div class="formrow">
            <label for="id" class="fieldtitle">Id <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="20" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="name" class="fieldtitle">Name</label>
            <input type="text" maxlength="50" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="description" class="fieldtitle">Description</label>
            <textarea name="description" id="description" class="fieldcontrol" rows="5"><%% if (entity) { %> <%%= entity.description %> <%% } %></textarea>
          </div>
          <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>

          <div class="formrow">
            <fieldset id="content_type_aspects">
              <legend>Aspects</legend>       
            </fieldset>
          </div>
                
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">
 
 require(['jquery', 'YSDEntityManagement', 'YSDRemoteDataSource', 'YSDListSelector'], function($, EntityManagement, RemoteDataSource, ListSelector) {
 
  function ContentTypeHook() {
 	   
    this.entityKey = function(entity) {
      return entity.id;
    }

    this.onEdit = function(entity) {
      $('#id').attr('readonly', true);
      $('#name').focus();  	
      this.configForm(entity);
    };
  
    this.onNew = function() {
  	  $('#id').focus();
  	  this.configForm(null);
    }

    this.adaptFormData = function(data) {
      
      var aspects_list = [];
      var aspect = null;
      
      var aspects = null;
      
      if (data.aspects instanceof Array) {
        aspects = data.aspects;	
      } 	
      else {
      	aspects = [];
        aspects.push(data.aspects);	
      }
    	
      for (var idx=0; idx < aspects.length; idx++) {

         aspect = { aspect: aspects[idx] };
         
         if (data.id) {
           aspect.content_type = { id: data.id };
         }     
         
         aspects_list.push(aspect);   
        	
      }	
    	
      data.aspects = aspects_list;
      
      return data;	
    	
    }
    
    this.configForm = function(entity) {

         // Configure the available types
         var dataSource = new RemoteDataSource('/aspects/entity');
         var value = [];
         if (entity && entity.aspects) {
           for (var index=0; index < entity.aspects.length; index++) {
           	  value.push( entity.aspects[index].aspect);
           }
         }
         
         var selector = new ListSelector('content_type_aspects', 'aspects', dataSource, value );
        
         // Limit the text area length
         YSDForms.limit_text_area_content_size(document.getElementById('description'), 256, 
            function (content_remain) {
              document.getElementById('description_length').innerHTML = '<strong>' + content_remain + '</strong>';
            }
         );    
    	
    }
  	
    
    this.formatAspects = function(entity) { /* Format the aspects for the representation */
    	
      var aspects = [];
      for (var index=0; index < entity.aspects.length; index++) { 
         aspects.push(entity.aspects[index].aspect);
      }	    	
      
      return aspects;	
    }  	
  	
  };
  
  var urls = { 
  	           query_url  : '/content-types',
    	       create_url : '/content-type',
  	           update_url : '/content-type',
  	           delete_url : '/content-type',
  	           get_url    : '/content-type'
  	         };

  var contentTypeHook = new ContentTypeHook();
  var contentsTypeManager = new EntityManagement(urls, 'content type', 12, contentTypeHook);
 
  $('.entity-title').html('Content Type');
 
 });
  
</script>
