<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.content_management.new_content.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%=t.content_management.new_content.description%>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:30%">Name</th>
         <th class="table-header-title" scope="col" style="width:50%">Description</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><a href="/mcontent/new/<%%= entity.id %>"><%%= entity.name %></a></td>
      <td class="table-cell"><%%= entity.description %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

</script>


<script type="text/javascript">
 
  require(['jquery','YSDEntityManagement'], function($, EntityManagement) {

    function NewContentHook() {
 	   
      this.entityKey = function(entity) {
       return entity.id;
      }
  
      this.onRenderEntities = function(entities) {
    
        $('.new-entity-button').hide();
        $('.edit-entity-button').hide();
        $('.page-navigation').hide();
        $('.navigation-bar').hide();
      	
      }  
  	
    };
  
    var urls = { 
    	           query_url  : '/ctypesuser'
  	           };

    var newContentHook = new NewContentHook();
    var newContentManager = new EntityManagement(urls, 'content', 20, newContentHook,
                                                {url_base: '/mcontent/new', action: 'list'});
  
  });
</script>
