  <!-- Content extras -->
  <% if defined?element_custom and element_custom.strip.length > 0 %>
  <div class="content-custom">
    <%= element_custom %>
  </div>
  <% end %>

  <% if defined?element_actions and element_actions.strip.length > 0 %>
  <div class="content-actions">
    <%= element_actions %>
  </div>
  <% end %>

  <% if defined?element_custom_extensions and element_custom_extensions.strip.length > 0 %>
  <%= element_custom_extensions if defined?element_custom_extensions %>
  <% end %>

  <% if defined?element_actions_extensions and element_actions_extensions.strip.length > 0 %>
  <%= element_actions_extensions if defined?element_actions_extensions%>
  <% end %>