          <%% if (entity) { %>
            <div id="form_above">
               <%= edit_element_form_above %>
            </div>            
          <%% } else { %>
            <div id="form_above">
               <%= new_element_form_above %>
            </div>            
          <%% } %>