           <div id="meta_template" class="guiblock">
             <div class="entity-field"><span class="entity-fieldlabel">Alias</span> <span class="entity-fieldvalue"><%%= entity.alias %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Subtitle</span> <span class="entity-fieldvalue"><%%= entity.subtitle %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Description</span> <span class="entity-fieldvalue"><%%= entity.description %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Summary</span> <span class="entity-fieldvalue"><%%= entity.summary %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Keywords</span> <span class="entity-fieldvalue"><%%= entity.keywords %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Language</span> <span class="entity-fieldvalue"><%%= entity.language %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Author</span> <span class="entity-fieldvalue"><%%= entity.author %></span> </div>
           </div>