    <div id="anonymous-publishing_form">
       <div class="formrow">
      	 <label for="composer_name" class="fieldtitle"><%= t.guiblock.anonymouspublishing.form.composer_name.label%><span class="mandatory">*</span> </label> 
	       <input type="text" name="composer_name" id="composer_name" class="fieldcontrol" maxlength="80"/>
       </div>
       <div class="formrow">
         <label for="composer_email" class="fieldtitle"><%= t.guiblock.anonymouspublishing.form.composer_email.label%><span class="mandatory">*</span> </label> 
         <input type="text" name="composer_email" id="composer_email" class="fieldcontrol" maxlength="50"/>
       </div>
       <div class="formrow">
         <label for="composer_website" class="fieldtitle"><%= t.guiblock.anonymouspublishing.form.composer_website.label%></label> 
         <input type="text" name="composer_website" id="composer_website" class="fieldcontrol" maxlength="50"/>
       </div>
    </div> 