            <div id="script_style_form" class="guiblock">           
              <div class="formrow">
                <label for="script" class="fieldtitle"><%=t.guiblock.script_style.form.script.label%></label>
                <textarea rows="10" id="script" name="script" class="fieldcontrol editable_text"><%% if(entity) {%><%%=entity.script%> <%% } %></textarea>
              </div>
              <div class="formrow">
                <label for="style" class="fieldtitle"><%=t.guiblock.script_style.form.style.label%></label>
                <textarea rows="10" id="style" name="style" class="fieldcontrol editable_text"><%% if (entity) {%><%%=entity.style %><%%}%></textarea>
              </div>
            </div>
