<div id="contentplace_form">

  <div class="formrow">
  	<label for="place[id]" class="fieldtitle"><%=t.content_place.form.place.description%></label>
    <select name="place[id]" id="place[id]" class="fieldcontrol"/>
  </div>

</div>