<a href="<%=((not content.link) or content.link.empty?)?(content.path):(content.link)%>">
  <img class="content-photo-img" 
       src="<%=content.photo_url_full.gsub(content.photo_url_full.split('/').last,'s960/'<<content.photo_url_full.split('/').last)%>" 
       <%if content.body and not content.body.empty?%>title="<%=content.body%>"<%end%> alt="<%=content.summary%>"/>
</a>
