    <div class="view_body <%=view.render_options['container_class'] if view.render_options.has_key?('container_class') and view_data[:data].length > 0%>">
      <% view_data[:data].each do |element| %>
        <div class="view_div_element <%= view.render_options['container_element_class'] if view.render_options.has_key?('container_element_class')%>">
          <% view.view_fields.each do |view_field| %>
             <div class="view_div_element_attribute <%= view_field.class if view_field.class.to_s.strip.length > 0 %>">
                 <%= include 'field-view', {:view_field => view_field, :element => element, :multilanguage_site => multilanguage_site,
                        :locale => locale} %>
             </div>
          <% end %>
        </div>
      <% end%>
    </div>