    <div id="<%="block_#{block.name}"%>" class="block">
      <% if block and block.title and block.title.strip.length > 0 %>
        <h3 class="block-title"><%= block.title%></h3>
      <% end %>
      <%= content %>
    </div>