<a href="<%=(content.link.empty?)?(content.path):(content.link)%>">
  <img class="content-photo-img" src="<%=content.photo_url_full%>" <%if content.body and not content.body.empty?%>title="<%=content.body%>"<%end%>/>
</a>
