<div class="content-justcontent-wrapper <%="content-type-#{content.content_type.id}" if content.content_type%> <%=content.content_type.display_css_class if content.content_type%>">
  <div class="content-body">
    <%= content_body if content_body%>
  </div>
</div>