    <div class="view_body">
       <table class="view_table">
         <% if view.render_options['show_column_titles'] %>
         <thead>  
           <tr class="view_table_header_row">
             <% view.view_fields.each do |view_field| %>
               <th class="view_table_header_cell" scope="col"><%= (view.render_options['table_column_titles'])?(view.render_options['table_column_titles'][view_field.field] || view_field.field):(view_field.field) %></th>
             <% end %>
           </tr>
         </thead>
         <% end %>
         <tbody>
           <% view_data[:data].each do |element| %>
           <tr class="view_table_body_row">
             <% view.view_fields.each do |view_field| %>
             <td class="view_table_body_cell <%= view_field.class if view_field.class.to_s.strip.length > 0 %>">
                <%= include 'field-view', {:view_field => view_field, :element => element} %>
             </td>
             <% end %>
           </tr>
           <% end %>
         </tbody>
       </table>
     </div>
