<div class="bottom-margin">
<a href="<%=content.path%>">
  <img class="content-photo-img" src="<%=content.photo_url_full%>" <%if content.summary and not content.summary.empty?%>title="<%=content.summary%>"<%end%>/>
</a>
</div>
