    <div class="view_body">
      <% view_data[:data].each do |element_rendered| %>
        <div class="view_teaser_element bottom-margin">
           <%= element_rendered %>
        </div>
      <% end%>
    </div>