<% 
   # Process the breadcrumb and gets a HTML representation
   bc_html = []
   breadcrumb.slice(0, breadcrumb.size-1).each do |element|
     bc_html << "<a class=\"breadcrumb-element\" href=\"#{element[:path]}\">#{element[:title]}</a>" if element[:path].to_s.strip.length > 0
   end
   if breadcrumb.size > 0
     bc_html << breadcrumb.last[:title]
   end
%>

<%= bc_html.join(' <span class="breadcrumb-separator">::</span> ') %>    
