<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">

  <p>Taxonomías le permite organizar su contenido usuario etiquetas y términos. Cree una <em>taxonomías</em> para que contenga un grupo de términos o etiquetas. Una taxonomía puede estar vinculado a tipos de contenidos y se mostrará cuando se creen o editen contenidos de ese tipo.</p>

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:20%">Name</th>
         <th class="table-header-title" scope="col" style="width:25%">Type</th>
         <th class="table-header-title" scope="col" style="width:40%">Description</th>
         <th class="table-header-title" scope="col"></th>
         <th class="table-header-title" scope="col"></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.name %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.model.entityHooks[0].formatContentTypes(entity) %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.description %></td>
      <td class="table-cell"><a href="/term-management/<%%= entity.id%>">List of terms</a></td>
      <td class="table-cell"><a href="/term-management/<%%= entity.id%>/new">Add terms</a></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel">Id</div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.id %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Type</div> <div class="entity-fieldvalue"><%%= self.model.entityHooks[0].formatContentTypes(entity) %></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Name</div> <div class="entity-fieldvalue"><%%= entity.name %></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Description</div> <div class="entity-fieldvalue"><%%= entity.description %></div> </div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="top-navigation-bar navigation-bar">
             <h2 class="form-title">Taxonomy</h2>
             <div class="navigation-bar-nav-buttons">
             </div>
        </div>        

        <div class="form-fields">
        
          <div class="formrow">
            <label for="id" class="fieldtitle">Id <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="20" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="name" class="fieldtitle">Name</label>
            <input type="text" maxlength="50" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="description" class="fieldtitle">Description</label>
            <textarea name="description" id="description" class="fieldcontrol" rows="5"><%% if (entity) { %> <%%= entity.description %> <%% } %></textarea>
          </div>
          <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>

          <div class="formrow">
            <fieldset id="content_types">
              <legend>Content Types</legend>
            </fieldset>
          </div>
                
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">
 
 require(['jquery', 'YSDRemoteDataSource', 'YSDListSelector', 'YSDForms'],
         function($, RemoteDataSource, ListSelector, YSDForms) {
 
  function TaxonomyHook() {
 	   
    this.entityKey = function(entity) {
      return entity.id;
    }

    this.onEdit = function(entity) {
      $('#id').attr('readonly', true);
      $('#name').focus();  	
      this.configForm(entity);
    };
  
    this.onNew = function() {
  	  $('#id').focus();
  	  this.configForm(null);
    };
    
    this.adaptFormData = function(data) { // Adapt the form data before it's sent to backend
  	
  	  // Convert the list of content types in the proper data structure
  	  var taxonomy_content_type_list = [];
  	  var taxonomy_content_type = null;
  	  var tct = data.taxonomy_content_types;
  	
  	  for (index in tct) {
  	
  	    taxonomy_content_type = { 
  	    	'content_type' : {
  	  	       'id' : tct[index]	
  	  	     }
  	    };
  	  
  	    if (data.id != null) {
  	      taxonomy_content_type.taxonomy = {
  	        'id' : data.id	
  	      };
  	    }
  	
  	    taxonomy_content_type_list.push(taxonomy_content_type);  		
  	  }
  	
  	  // update the object
  	  data.taxonomy_content_types = taxonomy_content_type_list;
  	
  	  return data;
    };
    
    this.formatContentTypes = function(entity) { /* Format the content types for the representation */
    	
      var content_types = [];
      for (index in entity.taxonomy_content_types) { 
         content_types.push(entity.taxonomy_content_types[index].content_type.name);
      }	    	
      
      return content_types;	
    }
    
    
    this.configForm = function(entity) {
    
         // Configure the available types
         var dataSource = new RemoteDataSource('/ctypes',{id:'id', description:'name'});
         var value = [];
         if (entity && entity.taxonomy_content_types) {
           for (index in entity.taxonomy_content_types) {
           	  value.push( entity.taxonomy_content_types[index].content_type.id);
           }
         }
         
         var selector = new ListSelector('content_types', 'taxonomy_content_types', dataSource, value );
         
         // Limit the text area length
         YSDForms.limit_text_area_content_size(document.getElementById('description'), 256, 
            function (content_remain) {
              document.getElementById('description_length').innerHTML = '<strong>' + content_remain + '</strong>';
            }
         );    
    	
    }
        
  	
  };
    
  var urls = { 
  	          query_url  : '/taxonomies',
    	      create_url : '/taxonomy',
  	          update_url : '/taxonomy',
  	          delete_url : '/taxonomy',
  	          get_url    : '/taxonomy'
  	        };
  
  var taxonomyHook = new TaxonomyHook();
  var taxonomiesManager = new EntityManagement(urls, 'taxonomy', 12, taxonomyHook);
 
  $('.entity-title').html('Taxonomies');
  
 });
</script>
