<div class="top-navigation-bar">
  <h2 class="entity-title">Traducir item de menú</h2>
</div>
<div id="page_wrapper" class="all-space">
  <div id="menu_item_container">
  </div>
</div>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="menu_item_translation_template_form">

  <form name="menu_item_translation" class="form-horizontal" id="menu_item_translation">

   <input type="hidden" name="menu_item_id" value="<%%=menuItemId%>"/>
   <input type="hidden" name="language" value="<%%=language%>"/>


    <div class="form-group">
      <label for="language" class="col-md-12">Idioma <span class="mandatoryfield">*</span></label>
      <div class="col-md-11">
        <select name="language" id="language" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-12" for="title">Título</label>
      <div class="col-sm-12">
        <input class="form-control" type="text" id="title" name="title" placeholder="Título" <%% if (entity) {%>value="<%%=entity.title %>"<%% } %>>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-12" for="title">Descripción</label>
      <div class="col-sm-12">
        <input class="form-control" type="text" id="description" name="description" placeholder="Descripción" maxlength="256" <%% if (entity) {%>value="<%%=entity.description %>"<%% } %>>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-12" for="title">Enlace externo</label>
      <div class="col-sm-12">
        <input class="form-control" type="text" id="link_route" name="link_route" placeholder="Descripción" maxlength="128" <%% if (entity) {%>value="<%%=entity.link_route %>"<%% } %>>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
         <input id="update_button" type="button"
                class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right"
                value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>

  </form>

</script>