<div class="top-navigation-bar">
  <h2 class="entity-title">Traducir contenido</h2>
</div>
<div id="page_wrapper" class="all-space">
  <div id="content_container">
  </div>
</div>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="content_translation_template_form">

  <form name="content_translation" class="form-horizontal" id="content_translation">

   <input type="hidden" name="content_id" value="<%%=contentId%>"/>
   <input type="hidden" name="language" value="<%%=language%>"/>


    <div class="form-group">
      <label for="language" class="col-md-12">Idioma <span class="mandatoryfield">*</span></label>
      <div class="col-md-11">
        <select name="language" id="language" class="form-control"/>
      </div>
    </div>

    <div class="block">
      <ul class="nav nav-tabs" data-toggle="tabs">
        <li class="active">
          <a href="#btabs-static-page">Página</a>
        </li>
        <li class="">
          <a href="#btabs-static-seo">SEO</a>
        </li>
        <% if user and user.superuser %>
        <li class="">
          <a href="#btabs-static-programming">Programación</a>
        </li>
        <% end %>
        <li class="">
          <a href="#btabs-static-others">Otros</a>
        </li>
      </ul>
      <div class="block-content tab-content">
        <div class="tab-pane active" id="btabs-static-page">
          <div class="form-group">
            <label class="col-xs-12" for="title">Título</label>
            <div class="col-sm-12">
              <input class="form-control" type="text" id="title" name="title" placeholder="Título" maxlength="120" <%% if (entity) { %>value="<%%=entity.title%>"<%%}%>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12" for="example-textarea-input">Contenido</label>
            <div class="col-xs-12">
              <textarea class="form-control texteditor" id="body" name="body" rows="6" placeholder="Content.."><%% if (entity) {%><%%=entity.body %><%% } %></textarea>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="btabs-static-seo">
          <div class="form-group">
            <label class="col-xs-12" for="example-textarea-input">Título SEO</label>
            <div class="col-xs-12">
              <textarea class="form-control" id="page_title" name="page_title" rows="3" placeholder="Etiqueta title del head"><%% if (entity) { %><%%=entity.page_title%><%%}%></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12" for="example-textarea-input">META descripción</label>
            <div class="col-xs-12">
              <textarea class="form-control" id="description" name="description" rows="3" placeholder="META description"><%% if (entity) { %><%%=entity.description%><%%}%></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12" for="example-textarea-input">META resumen</label>
            <div class="col-xs-12">
              <textarea class="form-control" id="summary" name="summary" rows="3" placeholder="META summary"><%% if (entity) { %><%%=entity.summary%><%%}%></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12" for="example-textarea-input">META palabras clave</label>
            <div class="col-xs-12">
              <textarea class="form-control" id="keywords" name="keywords" rows="3" placeholder="META keywords"><%% if (entity) { %><%%=entity.keywords%><%%}%></textarea>
            </div>
          </div>
        </div>
        <% if user and user.superuser %>
        <div class="tab-pane" id="btabs-static-programming">
          <div class="form-group">
            <label class="col-xs-12" for="example-textarea-input">JS</label>
            <div class="col-xs-12">
              <textarea class="form-control editable_text" id="script" name="script" rows="20" placeholder="Código javascript"><%% if (entity) { %><%%=entity.script%><%%}%></textarea>
            </div>
          </div>
        </div>
        <% end %>
        <div class="tab-pane" id="btabs-static-others">
          <div class="form-group">
            <label class="col-xs-12" for="title">Enlace permanente</label>
            <div class="col-sm-12">
              <input class="form-control" type="text" id="alias" name="alias" placeholder="Enlace permanente" <%% if (entity) { %>value="<%%=entity.alias%>"<%%}%>>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
         <input id="update_button" type="button"
                class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right"
                value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>

  </form>

</script>