<h2>Your <%=element%> has not been already published.</h2>
<div class="highlight_block">
  <p>Check your email to finish the <%=element%> publishing.</p>
  <p>We have sent an email to <%=publication.composer_email%> to complete the <%=element%> publication.</p>
  <p>Please check the help if you have not received this email in 15 minutes</p>
</div>