<h2>Su <%=element%> está bloqueado</h2>
<div class="highlight_block">
  <p>Por favor, pongase en contacto con los administradores para conocer los detalles.</p>
</div>
<p>ID: <%=#{publication.key}%></p>