<h2>Su <%=element%> está publicado</h2>
<div class="highlight_block">
  <p>&gt; Puede consultarlo <a href="<%=publishing_address%>" target="_blank">aquí</a></p>
  <p>&gt; Puede gestionarlo <a href="<%=management_address%>" target="_blank">aquí</a></p>
</div>