<h2>Su <%=element%> aún no está publicado.</h2>
<div class="highlight_block">
  <p>Consulte su correo electrónico para completar la publicación.</p>
  <p>Le hemos enviado un correo electrónico a <%=publication.composer_email%> para completar la publicación del <%=element%>.</p>
  <p>Si en 15 minutos no ha recibido el correo electrónico para gestionar su <%=element%>, consulta la ayuda para solicitar que se reenvíe.</p>
</div>